<!DOCTYPE html>
<html>
    <head>
        <title>To-Do-List</title>
    </head>
    <body>
        <div class="container"  style="background-color: #153677">
            <div class="todo-app">
                <h2>To-Do List<img src="../assets/icon.png"></h2>
                <div class="row">
                    <input type="text" placeholder="Enter Name" #text>
                    <button (click)="addItem(text.value)">Add</button>
                </div>
                <ul *ngFor="let item of list">
                    <li>{{item.name}}</li>
                    <button (click)="deleteItem(item.id)">Delete</button>
                
                </ul>
            </div>

        </div>
        

    </body>
</html>
